<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">XDiary</a>

        <div class="d-flex align-items-center ms-auto">
            
            <% if (isLoggedIn) {  %>
                <div class="dropdown">
                    <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">交換日記が届いています</a></li>
                    </ul>
                </div>

                <div class="dropdown ms-2 me-2">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if (user && user.icon_url) { %>
                            <img src="<%= user.icon_url %>" alt="mdo" width="32" height="32" class="rounded-circle">
                        <% } else { %>
                            <i class="bi bi-person-circle fs-4"></i>
                        <% } %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end ">
                        <li>
                            <h5 class="dropdown-header">
                                <% if (user && user.display_name) { %>
                                    <%= user.display_name %> さん
                                <% } else { %>
                                    ゲストさん
                                <% } %>
                            </h5>
                        </li>
                        <li><a class="dropdown-item" href="/profile/edit">ユーザー編集</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout" style="color: red">ログアウト</a></li>
                    </ul>
                </div>
            <% } else { %>
                <a href="/signin" class="btn btn-primary me-3">ログイン</a>
                <a href="/signup" class="btn btn-light me-1">登録</a>
            <% } %>
        </div>
    </div>
</nav>