<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="userDataUpdateForm" action="/api/profile" method="POST">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dynamicModalTitle">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="liveAlertPlaceholder"></div>
                    <input type="hidden" id="modalUserUuid" name="userUuid">
                    <div name="current" class="mb-3 row">
                        <label class="col-sm-4 col-form-label" id="CurrentDisplayItemText">変更前のxxx</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="dynamicModalCurrentData" name="currentValue" readonly>
                            <!-- <label class="col-sm-7 col-form-label" id="dynamicModalCurrentData" name="currentValue"></label> -->
                        </div>
                    </div>
                    <div name="change" class="mb-3 row">
                        <label class="col-sm-4 col-form-label" id="ChangeDisplayItemText">変更後のxxx</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateFormInput" name="updateValue">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>